@model SimpleStore.Models.Product

@{
    ViewData["Title"] = "Create Product";
}
@using(Html.BeginForm("Create" , "Product"  ,FormMethod.Post)){

@Html.AntiForgeryToken()

<h1>Create Product</h1>

<hr />
<div>
    <div style="border: 1px solid black; background-color : lightblue;">
            
            <div>
                  <span>Product Name : </span>
                <input asp-for="Name" required placeholder="Name" />
            </div>

            <div>
                <span>Category : </span>
                <select asp-for="Category" >
                    <option value="Electronics">Electronics</option>
                    <option value="Clothing">Clothing</option>
                    <option value="Books">Books</option>
                    <option value="Home Goods">Home Goods</option>
                    <option value="Toys">Toys</option>
                </select>
            </div>

            <div>
                <span>Price : </span>
                <input asp-for="Price" required placeholder="Priece" />
            </div>

            <div>
                <span>Quantity : </span>
                <input asp-for="Quantity" required placeholder="Quantity"/>
            </div>

            <div>
                <input type="submit" value="Create" style="color : white ; background-color : blue"  />
            </div>
      
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

