@model Product

<form asp-action="Create" method="post">

    <input asp-for="Name" placeholder="Name">

<input asp-for="Price" placeholder="Price">
<input asp-for="Quantity" placeholder="Quantity">

    <select name="" id="" asp-for="Category">
        <option>Electronic</option>
          <option>Office</option>
          <option>Music</option>
          <option>Games</option>
    </select>

    <button type="submit">Save</button>
</form>